# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environments
venv/
.env
.env.*

# VS Code / Visual Studio
.vscode/
.vs/

# Node
node_modules/
dist/
build/

# OS files
.DS_Store
Thumbs.db